# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]ld/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.sln.docstates

# Build results
[Dd]ebugPublic/
[Rr]eleases/
*.dll
*.exe
*.pdb

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Test results
TestResults/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Rider
.idea/

# Mac
.DS_Store

# Temp files
*.tmp
*.temp
